{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <h2 class="text-title-md2 font-bold text-black dark mb-6">Sign In</h2>

    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <div class="w-full p-4 sm:p-12.5">
        <p class="mb-6 block font-medium text-black">
          New here? <a href="{% url 'request_access' %}" class="inline-block py-2 font-bold underline hover:text-gray-600">Request access</a>.
          Accounts are given by approval.
        </p>
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}

          {% if form.non_field_errors %}
          <div class="mb-4 text-red-600">
            {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="mb-4">
            <label for="id_username" class="mb-2.5 block font-medium text-black dark">Username</label>
            <div class="relative">
              <input type="text" name="username" id="id_username" autocomplete="username" autocapitalize="none" autocorrect="off" spellcheck="false" required placeholder="Enter your username" class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none
                            focus:border-primary focus-visible:shadow-none dark:border-form-strokedark
                            dark:bg-form-input dark:focus:border-primary" />
            </div>
          </div>

          <div class="mb-6">
            <label for="id_password" class="mb-2.5 block font-medium text-black dark">Password</label>
            <div class="relative">
              <input type="password" name="password" id="id_password" autocomplete="current-password" required placeholder="Enter your password" class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none
                            focus:border-primary focus-visible:shadow-none dark:border-form-strokedark
                            dark:bg-form-input dark:focus:border-primary" />
            </div>
          </div>

          <p class="mb-4 text-sm"><a href="{% url 'password_reset' %}" class="inline-block py-2 underline hover:text-gray-600">Forgot your password?</a></p>

          <input type="hidden" name="next" value="{{ next }}" />

          <div class="mb-5">
            <input type="submit" value="Sign In" class="w-full cursor-pointer rounded-lg border border-gray-900 bg-white p-4
                          font-medium text-black transition hover:bg-gray-50" />
          </div>
          
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}